# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\delor\Google Drive\Internet Applications and Web Development\Python CST8279\Labs\Lab 10\submission\Cameron Delorey Lab10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
